default:
  image: google/cloud-sdk:alpine
  before_script:
    - gcloud auth activate-service-account --key-file "$SERVICE_ACCOUNT"
    - gcloud config set project ptbudimas

build:
  stage: build
  script:
    - gcloud builds submit --config=cloudbuild.yaml --substitutions=_LOCATION="asia-southeast2",_REPOSITORY="feadmin",_IMAGE="feadmin"

deploy:
  stage: deploy
  script:
    - gcloud run deploy admin-budimas --image asia-southeast2-docker.pkg.dev/ptbudimas/feadmin/feadmin --region=asia-southeast2 --platform managed --allow-unauthenticated