default:
  image: google/cloud-sdk:alpine
  before_script:
    - gcloud auth activate-service-account --key-file "$SERVICE_ACCOUNT"
    - gcloud config set project ptbudimas

build:
  stage: build
  script:
    - gcloud builds submit --config=cloudbuild.yaml --substitutions=_LOCATION="asia-southeast2",_REPOSITORY="fe-dms",_IMAGE="fe-dms"

deploy:
  stage: deploy
  script:
    - gcloud run deploy budimas-dms --image asia-southeast2-docker.pkg.dev/ptbudimas/fe-dms/fe-dms --region=asia-southeast2 --platform managed --allow-unauthenticated